.small-card__photo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  padding: 10px;
  text-align: center;
  border-top: 2px solid rgba(204, 202, 202, 0.54);
  margin-top: 5px;
}

.small-card__photo-content img {
  height: 90px;
  object-fit: cover;
}

.small-card__content__title {
  margin-left: 10px;
}

.small-card__content__title p {
  color: gray;
  font-weight: 300;
}
