<div class="container__big-card">
  <a href="#">
    <div class="big-card__photo">
      <img
        src="https://scontent-gig4-1.xx.fbcdn.net/v/t39.30808-6/484274876_1061689392651287_2724414417552450564_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=86c6b0&_nc_eui2=AeEwXwtgUumh07BjBmtwIvn31_LhpO9Hjx_X8uGk70ePH1Un0X2a0c2MysLZs3JuF6u_I8tFVFCiiIgYo4NR_MSB&_nc_ohc=pYEdxNcA790Q7kNvgGRBBcX&_nc_oc=AdhPe4EdkOSS25bVVwhMPLCmx0A_DZnRBza5CHKSm-NzeE3OoLvvJkkfAW91KVbjjYA&_nc_zt=23&_nc_ht=scontent-gig4-1.xx&_nc_gid=eQeU_unoTtfrygi8-Y7qng&oh=00_AYEOfIn1o_DRFu2CeRr18zz6qfpbAO7u0dJp6f3qv4FNog&oe=67DF589D"
        alt="How to make a perfect cup of coffee" srcset="" height="400px" width="300px">

    </div>
  </a>
  <a href="#">
    <div class="big-card__photo--title">
      <h1>How to make a perfect cup of coffee</h1>
    </div>
    <div class="big-card__description">
      <h2>How to make a perfect cup of coffee</h2>
      <p>By: John Doe</p>
    </div>
  </a>

</div>
