.container__menu-title {
  color: black;
  text-align: center;
}

.container__menu-title h1 {
  margin: 15px auto;
  font-size: 5.7rem;
  font-weight: 700;
  font-family: "Segoe UI", sans-serif;
}

.container__menu-title hr {
  margin: 5px 0;
}
