<div class="container__small-card">

  <div class="small-card__photo">
    <h1>Eventos</h1>
    <img src="https://e7.pngegg.com/pngimages/276/700/png-clipart-christian-cross-christianity-jerusalem-cross-symbol-christian-cross-angle-christianity-thumbnail.png" alt="Imagem do card" width="30px" height="30px">
  </div>




  <div class="small-card">

    <app-small-topic></app-small-topic>
    <app-small-topic [style.background-color]="'#E4DAEE'" ></app-small-topic>
    <app-small-topic [style.background-color]="'#EBD9B9'"></app-small-topic>

  </div>
</div>
