<div class="container__small-card">

  <div class="small-card__photo">
    <h1>{{cardTitle}}</h1>
    <img src="{{photoCover}}" alt="Imagem do card" width="30px" height="30px">
  </div>




  <div class="small-card">

    <div class="small-card__content">
      <div class="small-card__photo-content">
        <a [routerLink]="['content', Id]">
          <img src="{{photoCoversc}}" alt="Imagem do card">
          <div class="small-card__content__title">

            <h3>{{cardTitlesc}}</h3>
            <p>{{cardDescriptionsc}}</p>
          </div>
        </a>
      </div>
    </div>


  </div>
</div>
<!--
[style.background-color]="'#E4DAEE'"
[style.background-color]="'#EBD9B9'"
 photoCover="https://images.seeklogo.com/logo-png/32/2/terco-brasil-logo-png_seeklogo-320240.png"
    cardTitle="Rosario"
    cardDescription="toda segunda feira"-->
